
/*
 * Table of Contents:
 *
 * 01.0 - global
 * * 01.1 - button
 * * 01.2 - pulse
 * * 01.3 - error
 * 02.0 - states
 * 03.0 - clicktag
 * 04.0 - directsubscribe
 * 05.0 - doubleconfirmation
 * 06.0 - numberentry
 * 07.0 - pinentry
 * 08.0 - mo
 * 09.0 - congrats
 * 10.0 - operatorselection
 * 11.0 - subscriptionpolling
 * 12.0 - overlay
 * * 12.1 - blocker
 * * 12.2 - popup
*/

/* 01.0 - global */

/* 01.1 - button */

.btn,
.btn:focus,
.btn:visited {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 225px;
    font-size: 16px;
    color: #fff;
    background: #ccc;
    text-decoration: none;
}

.btn:active,
.btn:hover {
    color: #fff;
    background: #cfcfcf;
}

/* 01.2 - pulse */

.pulse {
    -webkit-animation: pulse 0.5s linear 0s infinite;
    animation: pulse 0.5s linear 0s infinite;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@-webkit-keyframes pulse {
    50% { -webkit-transform: scale(0.98); }
}
@keyframes pulse {
    50% { transform: scale(0.98); }
}

/* 01.3 - error */

.error {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
    color: #f00;
}

/* 02.0 - states */

#clicktag,
#directsubscribe,
#doubleconfirmation,
#numberentry,
#pinentry,
#mo,
#congrats,
#operatorselection,
#subscriptionpolling {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
}

/* 03.0 - clicktag */

#container.show-clicktag #clicktag {
    display: block;
}

#subscribe-clicktag-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

/* 04.0 - directsubscribe */

#container.show-directsubscribe #directsubscribe {
    display: block;
}

#directsubscribe-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

/* 05.0 - doubleconfirmation */

#container.show-doubleconfirmation #doubleconfirmation {
    display: block;
}

#double-confirm-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

/* 06.0 - numberentry */

#container.show-numberentry #numberentry {
    display: block;
}

#numberentry-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

#input-number {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 150px;
    direction: ltr;
    font-size: 16px;
}

/* 07.0 - pinentry */

#container.show-pinentry #pinentry {
    display: block;
}

#pinentry-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

#input-pin {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 50px;
    direction: ltr;
    font-size: 16px;
    text-align: center;
}

/* 08.0 - mo */

#container.show-mo #mo {
    display: block;
}

#mo-sms,
#keyword,
#mo-to,
#shortcode {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

.emphasis {
    font-size: 16px;
    font-weight: bold;
}

/* 09.0 - congrats */

#container.show-congrats #congrats {
    display: block;
}

#congrats-title,
#congrats-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

#congrats-title {
    font-size: 16px;
    font-weight: bold;
}

/* 10.0 - operatorselection */

#container.show-operatorselection #operatorselection {
    display: block;
}

#operators {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: auto;
}

#operators span {
    display: block;
    margin-bottom: 10px;
}

.btn-operator {
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: #ccc;
}

/* 11.0 - subscriptionpolling */

#container.show-subscriptionpolling #subscriptionpolling {
    display: block;
}

#subscriptionpolling-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
}

#subscriptionpolling-message:after {
    content: '';
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
    width: 25px;
    height: 25px;
    background: transparent url('../img/loading.gif') 50% 50% no-repeat;
    background-size: 25px 25px;
}

/* 12.0 - overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    box-align: center;
    background: rgba(0,0,0,0.88);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 12px;
    z-index: 999;
}

/* 12.1 - blocker */

#container.show-alreadysubscribed #blocker,
#container.show-blocker #blocker,
#container.show-immediatesubscribe #blocker,
#container.show-redirect #blocker,
#container.show-redirectservice #blocker,
#container.show-redirectxhrreturn #blocker,
#container.show-wifipolling #blocker {
    display: -webkit-flex;
    display: flex;
}

#blocker {
    display: none;
}

#blocker-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 280px;
    height: auto;
    background: #fff;
}

#blocker-message:after {
    content: '';
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
    width: 25px;
    height: 25px;
    background: transparent url('../img/loading.gif') 50% 50% no-repeat;
    background-size: 25px 25px;
}

/* 12.2 - popup */

#container.show-popup #popup {
    display: -webkit-flex;
    display: flex;
}

#popup {
    display: none;
}

#popup-message {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 280px;
    height: auto;
    background: #fff;
}
